/** @define utilities */

.u-colorSky {
  color: var(--color-sky) !important;
}

.u-colorCyan {
  color: var(--color-cyan) !important;
}

.u-colorGold {
  color: var(--color-gold) !important;
}

.u-colorTomato {
  color: var(--color-tomato) !important;
}

.u-colorBackground {
  color: var(--color-background) !important;
}

.u-colorLight {
  color: var(--color-light) !important;
}

.u-colorPale {
  color: var(--color-pale) !important;
}

.u-colorDim {
  color: var(--color-dim) !important;
}

.u-colorDark {
  color: var(--color-dark) !important;
}

.u-colorText {
  color: var(--color-text) !important;
}

.u-colorCurrent {
  color: currentColor !important
}

.u-colorTransparent {
  color: transparent !important
}
