/** @define Graph */

.Chart {
  padding: var(--space-m) 0;

  position: relative;

  color: #fff;
  background-color: var(--color-primary);
  -webkit-font-smoothing: antialiased;
}

.Chart-tooltip {
  display: block;
  padding: 3px 10px 5px 24px;

  position: relative;

  color: var(--color-text);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  font-size: calc(14rem / var(--base-font-size));
}

.Chart-tooltip--alignRight {
  padding: 3px 24px 5px 10px;
}

.Chart-tooltip::after {
  box-sizing: content-box;
  content: "";
  width: 7px;
  height: 7px;
  border: 2px solid #fff;

  position: absolute;
  left: 8px;
  top: 9px;

  background-color: var(--color-primary);
  border-radius: 7px;
}

.Chart-tooltip--alignRight::after {
  left: auto;
  right: 8px;
}

.Chart-action {
  box-sizing: border-box;
  display: inline-block;
  height: 1.5em;
  min-width: 1.5em;
  padding-bottom: 0.1em;
  color: #fff;
  text-align: center;
  line-height: 1.4em;
  font-size: calc(15rem / var(--base-font-size));
  background-color: var(--color-secondary);
  border-radius: 1em;
}
