/** @define Action */

.Action {
  line-height: calc(21rem / var(--base-font-size));
}

.Action-title {
  font-style: italic;
  font-size: 1em;
}

.Action-date {
  float: right;
  color: var(--color-dim);
  font-weight: var(--font-weight-bold);
  -webkit-font-smoothing: antialiased;
}
