/** @define Action */

.Action {
}

.Action-title {
  font-style: italic;
  font-size: 1em;
}

.Action-date {
  float: right;
  color: var(--color-dim);
  -webkit-font-smoothing: antialiased;
}

.Action-comment {
  margin: var(--space-b) 0;
  font-weight: var(--font-weight-light);
  font-size: calc(14rem / var(--base-font-size));
}

.Action-comment--slim {
  margin: calc(var(--space-b) / 2) 0;
}

.Action-author {
  font-weight: var(--font-weight-bold);
  -webkit-font-smoothing: antialiased;
}
