/** @define Display */

.Display {
  display: block;
  margin: 0 0 0.5em;
  font-weight: var(--font-weight-bold);
  -webkit-font-smoothing: antialiased;
}

.Display:first-letter {
  margin-left: -0.1em;
}

.Display--1 {
  margin-bottom: 0.75em;
  font-size: calc(48rem / var(--base-font-size));
  line-height: calc(33rem / var(--base-font-size));
  font-weight: var(--font-weight-light);
}

.Display--2 {
  margin-bottom: 0.75em;
  font-size: calc(32rem / var(--base-font-size));
  font-weight: var(--font-weight-light);
}

.Display--3 {
  font-size: calc(28rem / var(--base-font-size));
}

.Display--4 {
  font-size: calc(20rem / var(--base-font-size));
}

.Display--5 {
  font-size: calc(18rem / var(--base-font-size));
}

.Display--6 {
  font-size: calc(16rem / var(--base-font-size));
}
