<ion-list>
  <div class="item item-divider header-divider bg-energized text-white">
    <h2 class="text-white text-bold display-inline">{{'COOPERATIVE_ENERGY_ACTIONS'| translate}}</h2>
    <a class="text-normal link link-plain pull-right" href="#/app/cooperatives/my/edit/action">
        <i class="icon ion-plus icon-white text-energized"></i> {{'Add_Action' | translate}}
    </a>
  </div>
  <ion-item class="item-text-wrap" ng-repeat="action in filteredActions = cooperative.actions | orderBy:'date':true" ng-class="{'item-complex-left':showBadge}">
    <div class="item-complex-header">
      <time class="pull-right padding-left">{{action.date | date:"MMM yyyy"}}</time>
      <div class="padding-bottom" ng-click="goToAction(action);scrollTo('graph'); trackActionClicked(action)">
        <span class="badge badge-energized" ng-show="showBadge">{{filteredActions.length - $index}}</span>
        <h2 class="text-bold text-dark">{{action.name}}</h2>
      </div>
    </div>

    <ul>
      <li ng-show="action.cost">
        <strong>{{ 'COOPERATIVE_ACTION_COST' | translate }}</strong>: {{action.cost}} SEK
      </li>
      <li ng-show="action.description">
        <span class="hidden-visually">{{ 'COOPEARTIVE_ACTION_DESCRIPTION' | translate }}</span> {{action.description}}
    </ul>

    <div class="clearfix">
      <button class="link pull-left space-top" ng-show="!action.showExtra" ng-click="action.showExtra = true">
        <i class="icon ion-chatbox"></i>
        <span ng-show="action.comments.length === 0">{{ 'ADD_COMMENT' | translate }}</span>
        <span ng-show="action.comments.length > 0">{{ 'VIEW' | translate }} {{action.commentsCount}} {{ action.comments.length === 1 ? 'Comment' : 'Comments' | translate | lowercase }}</span>
      </button>

      <a class="link pull-right space-top" ng-href="#/app/cooperatives/my/edit/action/{{action._id}}">
        {{'EDIT' | translate}}
      </a>
    </div>

    <div ng-show="action.showExtra">
      <hr>
      <label class="item-input">
        <textarea type="text" ng-model="action.newComment" placeholder={{"ADD_COMMENT"|translate}}></textarea>
      </label>
      <button class="button button-small button-dark button-right " ng-disabled="_.isEmpty(action.newComment)" ng-click="commentAction(action)" translate>Post</button>
      <div class="clearfix"></div>
      <hr>
      <div ng-repeat="comment in action.comments | orderBy:'date':true">
        <h3>{{comment.user.profile.name}} <span class="text-small">{{comment.date | date: "yyyy-MM-dd"}}</span></h3>
        <p>{{comment.comment}}</p>
        <a class="button button-clear button-stable icon-left ion-close button-small" ng-if="comment.user._id == currentUser._id" ng-click="deleteActionComment(action,comment)" translate>Delete</a>
        <hr ng-show="!$last">
      </div>
      <button class="button button-block button-small button-stable" ng-if="action.commentsCount > action.comments.length" ng-click="loadMoreComments(action)"translate>LOAD_MORE</button>
    </div>
  </ion-item>
</ion-list>
