
<ion-list class="list item-text-wrap ">
  <ion-item class="borderless-list customCheckbox">
    {{'COOPERATIVE_ACTION_TYPE' | translate}}
    <div style="float:right; padding-right: 40px" ng-click="showActions = !showActions" >
      <i class="icon" ng-class="showActions ? 'ion-ios-arrow-down' : 'ion-ios-arrow-right'"></i>
    </div>
    <div ng-show="showActions">
      <ion-checkbox ng-repeat="action in actionTypes"
                    class="item item-accordion-filter item-checkbox item-text-wrap borderless-list "
                    ng-class="{subaction:action.parent}"
                    ng-show="!action.parent || actionTypes.getById(action.parent).checked"
                    ng-model="action.checked"
                    ng-checked="action.checked">
          {{'COOPERATIVE_ACTION_TYPE_' + action.id | translate}}
      </ion-checkbox>
    </div>
  </ion-item>
</ion-list>
<ion-list class="list item-text-wrap ">
  <ion-item class="borderless-list customCheckbox">
    {{'COOPERATIVE_VENTILATION_TYPE' | translate}}
    <div style="float:right; padding-right: 40px" ng-click="showVentilationTypes = !showVentilationTypes" >
      <i class="icon" ng-class="showVentilationTypes ? 'ion-ios-arrow-down' : 'ion-ios-arrow-right'"></i>
    </div>
      <ion-checkbox ng-repeat="ventilationType in ventilationTypes"
                    class="item borderless-list item-accordion-filter"
                    ng-model="ventilationType.checked"
                    ng-checked="ventilationType.checked"
                    ng-show="showVentilationTypes">
        {{ventilationType.type}}
      </ion-checkbox>
  </ion-item>
</ion-list>


