<ion-view>
  <ion-nav-title>{{'COOPERATIVE_NEIGHBOURHOOD' | translate}}</ion-nav-title>
  <ion-content class="full-height">
     <div class="button-bar">
      <a class="button" ng-class="{active:view=='map'}" ng-click="view = 'map'">{{'COOPERATIVE_MAP' | translate}}</a>
      <a class="button" ng-class="{active:view=='list'}" ng-click="view = 'list'">{{'COOPERATIVE_LIST' | translate}}</a>
    </div>
    <!-- <ion-toggle ng-model="airplaneMode" toggle-class="toggle-calm">Show only similar</ion-toggle> -->
    <div id="map" data-tap-disabled="true" ng-if="view=='map'" ng-controller="CooperativesMapCtrl"></div>
    <div ng-if="view=='list'">
       <div class="row row-no-padding">
         <div class="col col-33 col-offset-67 no-padding">
          <div class="button-bar">
            <!--<button style="padding: 0px;" class="button button-clear button-dark text-small" >
              Search
            </button>-->
            <button style="padding: 0px;"
                    class="button button-clear button-dark text-medium-small"
                    ng-class="ventilationTypesSelected.length > 0 || actionTypesSelected.length > 0 ? 'text-bold' : ''"
                    ng-click="filterList()">
              {{'COOPERATIVE_FILTER' | translate}}
            </button>
            <button style="padding: 0px;"
                    class="button button-clear button-dark text-medium-small"
                    ng-click="compareToSelectedCooperative()"
                    ng-disabled="!isCooperativeSelected()">
              {{'GRAPH_DATA_COMPARE' | translate}}
            </button>
          </div>
         </div>
       </div>
      <div class="row">
        <div class="col col-100">
          <div style="float: left; color: #444" class= "padding-left text-medium text-bold">
              {{'COOPERATIVE_PERFORMANCE'| translate}}
              <i class="icon ion-information-circled positive" ng-click="energyPerformanceInfo()"></i>
          </div>
        </div>
      </div>
      <div class = "card" ng-show="myCooperative">
        <div class="item item-avatar">
          <div style="float:right; padding-right: 20px" ng-click="showMyExtra = !showMyExtra" >
            <i class="icon" ng-class="showMyExtra ? 'ion-ios-arrow-down' : 'ion-ios-arrow-right'"></i>
          </div>
          <div ng-click="cooperativeClick(myCooperative._id)" style="width: 50%;">
            <i class="icon flaticon-building80 bigger-1 energy-class-{{myCooperative.getEnergyClass()}} item-image" style="top:21px;"></i>
            <h2>
              {{myCooperative.name}}
            </h2>
          </div>
          <p> {{myCooperative.performance | number:0}} kWh/m2 | {{'COOPERATIVE_ENERGY_ACTIONS' | translate }}: <b class="energized">{{myCooperative.actions.length}}</b></p>
          <p class="padding-left padding-top" ng-show="showMyExtra" ng-repeat="ventilation in myCooperative.ventilationType">
            {{ventilation}}
          </p>
        </div>
      </div>
      <div class="item item-avatar"
             ng-repeat="cooperative in cooperativesList | orderBy:'performance'"
             ng-if="cooperative._id != currentUser.cooperativeId">
          <div style="float:right; padding-right: 20px" ng-click="showExtra = !showExtra" >
            <i class="icon" ng-class="showExtra ? 'ion-ios-arrow-down' : 'ion-ios-arrow-right'"></i>
          </div>
          <div style="float:right; padding-right: 20px">
            <ion-radio-custom class="borderless-list"
                              checkedicon="ion-ios-circle-filled"
                              uncheckedicon="ion-ios-circle-outline"
                              name="cooperative"
                              ng-value="cooperative"
                              ng-model="selection.cooperative">
            </ion-radio-custom>
          </div>
          <div ng-click="cooperativeClick(cooperative._id)" style="width: 50%;">
            <i class="icon flaticon-building80 bigger-1 energy-class-{{cooperative.getEnergyClass()}} item-image" style="top:21px;"></i>
            <h2>
              {{cooperative.name}}
            </h2>
          </div>
          <p> {{cooperative.performance | number:0}} kWh/m2 | {{'COOPERATIVE_ENERGY_ACTIONS' | translate }}: <b class="energized">{{cooperative.actions.length}}</b></p>
          <p class="padding-left padding-top" ng-show="showExtra" ng-repeat="ventilation in cooperative.ventilationType">
            {{ventilation}}
          </p>

      </div>
    </div>
  </ion-content>
</ion-view>
