/** @define From */

:root {
  --Form-background-color: #fff;
  --Form-border-color: var(--color-light);
  --Form-padding-x: 0.6rem;
  --Form-padding-y: 0.4rem;
}

.Form {

}

/**
 * Have labels (on left) aling in with column
 * <label     > <input>
 * <long label> <input>
 */

.Form-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  align-items: baseline;
}

/**
 * Collapse margins and borders on form elements
 */

.Form-collapse {
  margin: 0 calc(var(--viewport-padding) * -1);
}

.Form-item {
  display: flex;
  align-items: baseline;
  position: relative;
  padding-top: calc(var(--Form-padding-x) + 1em);
  border: 1px solid var(--Form-border-color);

  background-color: #fff;
}

.Form-collapse .Form-item {
  border-width: 1px 0;
}

.Form-collapse .Form-item + .Form-item {
  border-width: 0 0 1px;
}

.Form-label {
  position: absolute;
  top: var(--Form-padding-y);
  left: var(--Form-padding-x);

  color: var(--color-text);
  font-size: calc(14rem / var(--base-font-size));
  font-weight: var(--font-weight-bold);
  -webkit-font-smoothing: antialiased;
}

.Form-suffix {
  padding: var(--Form-padding-y) var(--Form-padding-x);
  font-size: calc(14rem / var(--base-font-size));
  font-weight: var(--font-weight-bold);
  -webkit-font-smoothing: antialiased;
}

.Form-input {
  box-sizing: border-box;
  display: block;
  flex-grow: 1;
  padding: var(--Form-padding-y) var(--Form-padding-x);
  border: 0;

  outline: 0;
  font-size: 16px;
  -webkit-appearance: none;
}

.Form-input::-webkit-calendar-picker-indicator {
  opacity: 1;
}

.Form-input::-webkit-clear-button,
.Form-input::-webkit-inner-spin-button {
  display: none;
}

.Form-select {
  flex-grow: 1;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 16px;
  background: none;
  border-radius: 0;
  -webkit-appearance: none;
}

.Form-select--multiple {
  padding: var(--Form-padding-y) var(--Form-padding-x);
}

/**
 * Pill
 */

.Form-label--pill {
  float: left;
  clear: left;
  padding: 0.5em 0.8em;
  position: static;
  white-space: nowrap;
  color: var(--color-primary);
  font-weight: normal;
  background-color: #fff;
  border-radius: 1em 0 0 1em;
  font-size: calc(14rem / var(--base-font-size));
}

.Form-select--pill {
  float: left;
  padding: calc(0.5em - 1px) 2em calc(0.5em - 1px) 0.75em;
  border: 1px solid currentColor;
  color: currentColor;
  border-radius: 0 1em 1em 0;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='13' height='8'><polygon stroke='none' fill='#ffffff' fill-rule='evenodd' points='0.641242789 -0.641242789 -0.419417382 0.419417382 5.77817459 6.61700936 11.9757666 0.419417382 10.9151064 -0.641242789 5.77817459 4.49568901' /></svg>");
  background-repeat: no-repeat;
  background-position: calc(100% - 0.5em) calc(50% + 1px);
  font-size: calc(14rem / var(--base-font-size));
}
