/* @define Map */

.Map {
  position: relative;
  width: 100%;
}

.Map-locate {
  position: absolute;
  top: var(--space-b);
  right: var(--space-b);
}

.Map-popup {
  padding: var(--space-b);
  font-size: calc(14rem / var(--base-font-size));
  line-height: calc(22 / 14);
  font-family: var(--font-family);
  background-color: rgba(255, 255, 255, 0.94);
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.085);
  -webkit-font-smoothing: antialiased;
}

.mapboxgl-popup-content {
  padding: 0;
  background: transparent;
  box-shadow: none;
  border-radius: 0;
}

.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: rgba(255, 255, 255, 0.94);
}

.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: rgba(255, 255, 255, 0.94);
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: rgba(255, 255, 255, 0.94);
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: rgba(255, 255, 255, 0.94);
}
