/* @define Map */

.Map {
  position: relative;
  width: 100%;
}

.Map-locate {
  position: absolute;
  top: var(--viewport-padding);
  right: var(--viewport-padding);
}

.Map-position {
  padding: 0.5em 1em;

  position: relative;

  color: #fff;
  line-height: 1rem;
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: calc(14rem / var(--base-font-size));
  border-radius: 2em;
  background-color: var(--color-primary);
  transform: translate(-50%, calc(-100% - 7px));
  -webkit-font-smoothing: antialiased;
}

.Map-position::after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid;
  border-color: var(--color-primary) transparent transparent;

  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}

.Map-popup {
  padding: var(--space-s);
  font-size: calc(14rem / var(--base-font-size));
  line-height: calc(22 / 14);
  font-family: var(--font-family);
  background-color: rgba(255, 255, 255, 0.94);
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.085);
  -webkit-font-smoothing: antialiased;
}

.mapboxgl-popup-content {
  padding: 0;
  background: transparent;
  box-shadow: none;
  border-radius: 0;
}

.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: rgba(255, 255, 255, 0.94);
}

.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: rgba(255, 255, 255, 0.94);
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: rgba(255, 255, 255, 0.94);
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: rgba(255, 255, 255, 0.94);
}
