@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i');

@import "suitcss-base";

@import "suitcss-components-grid";
@import "../components/action";
@import "../components/app";
@import "../components/button";
@import "../components/comment";
@import "../components/display";
@import "../components/form";
@import "../components/icons";
@import "../components/list";
@import "../components/menu";
@import "../components/page-head";
@import "../components/performance";
@import "../components/type";

@import "suitcss-utils-display";
@import "suitcss-utils-flex";
@import "suitcss-utils-layout";
@import "suitcss-utils-link";
@import "suitcss-utils-position";
@import "suitcss-utils-size";
@import "suitcss-utils-space";
@import "suitcss-utils-text";
@import "../components/utils";

:root {
  --font-family: "Lato", sans-serif;
  --font-weight-bold: 700;
  --font-weight-normal: 400;
  --font-weight-light: 300;
  --base-font-size: 16;

  --color-primary: #388EE8;
  --color-accent: #19DDC0;
  --color-secondary: #FEC73D;
  --color-background: #F4F7FA;
  --color-light: #EFEFEF;
  --color-pale: #C5CCD3;
  --color-dim: #A8A8A8;
  --color-dark: #777777;
  --color-text: #222222;

  --sm-viewport: 640px;
  --md-viewport: 900px;
  --lg-viewport: 1280px;

  --viewport-padding: 2vw;
  --Grid-gutter-size: var(--viewport-padding);

  --space-n: 0;
  --space-b: calc(10rem / var(--base-font-size));
  --space-s: calc(14rem / var(--base-font-size));
  --space-m: calc(24rem / var(--base-font-size));
  --space-l: calc(40rem / var(--base-font-size));
  --space-g: calc(50rem / var(--base-font-size));
}

@custom-media --sm-viewport (min-width:400px) and (max-width:899px);
@custom-media --md-viewport (min-width:900px) and (max-width:1280px);
@custom-media --lg-viewport (min-width:1280px);

html, body {
  height: 100%;
  color: var(--color-text);
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  font-size: calc(0.85px * var(--base-font-size));
}

@media (--sm-viewport), (--md-viewport), (--lg-viewport) {
  html, body {
    font-size: calc(1px * var(--base-font-size));
  }
}

/**
 * 1. Lightly lighten default bolded text
 */

h1, h2, h3, h4, h5, h6, strong, b, dt {
  -webkit-font-smoothing: antialiased; /* 1 */
}

:link,
:visited,
button {
  border: 0;
  padding: 0;
  background-color: transparent;
  text-decoration: none;
  font-style: italic;
  cursor: pointer;
  color: var(--color-primary);
  -webkit-font-smoothing: antialiased;
}

:visited[href^="http"],
:visited[href^="//"] {
  color: #AE38E8;
}

:link:hover,
:link:active,
button:hover,
button:active {
  text-decoration: underline;
}

hr {
  height: 1px;
  border: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.075) 25%, rgba(0, 0, 0, 0.075) 75%, rgba(0, 0, 0, 0) 100%);
}
