/** @define App */

.App {
  background-color: var(--color-background);
}

.App-container {
  padding: 0 var(--viewport-padding);
}

@media (--lg-viewport) {
  .App-container {
    max-width: var(--lg-viewport);
    padding: 0;
    margin: 0 auto;
    position: relative;
  }
}

.App-footer {
  font-size: calc(14rem / var(--base-font-size));
  background-color: #fff;
  color: var(--color-pale);
  border-top: 1px solid var(--color-light);
  -webkit-font-smoothing: antialiased;
}
