/** @define App */

.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: var(--color-background);
}

.App-container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App-container--sm {
  max-width: var(--sm-viewport);
  padding: 0 var(--viewport-padding);
}

.App-container--md {
  max-width: var(--md-viewport);
  padding: 0 var(--viewport-padding);
}

.App-container--lg {
  max-width: var(--lg-viewport);
  padding: 0 var(--viewport-padding);
}

.App-part {
  flex-basis: 100%;
}

.App-part--primary {
  width: 100%;
}

.App-part--secondary {
  padding: 0 var(--viewport-padding);
}

@media (--md-viewport), (--lg-viewport) {
  .App-part--secondary {
    flex: 1 1 50%;
    max-width: calc(var(--lg-viewport) / 2);
    padding: 0 var(--viewport-padding);
  }

  .App-part--last {
    order: 1;
  }
}

.App-footer {
  padding: var(--space-s) var(--viewport-padding);
  font-size: calc(14rem / var(--base-font-size));
  background-color: #fff;
  color: var(--color-pale);
  border-top: 1px solid var(--color-light);
  -webkit-font-smoothing: antialiased;
}

.App-error {
  max-height: 3rem;
  position: relative;
  z-index: 2;
  color: #fff;
  background-color: var(--color-secondary);
  transition: max-height 250ms linear;
}

.App-error:empty {
  max-height: 0;
}
